@import 'tailwindcss';

@config "../../tailwind.config.js";

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-wrapper {
  --border-transparent: hsla(0 0%. 31%, 0);
}

.settings-container {
  display: flex;
  align-items: start;
  margin: 4px 8px;
}

.settings {
  display: flex;
  padding-top: 6px;
  gap: 8px;
  height: 30px;
  margin-left: auto;
}

.dot {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  z-index: 3;
  border: 1px solid hsl(0, 0%, 40%);
  background-color: hsla(0, 0%, 30%, 0.5);
  visibility: hidden;
}

.dot-1 {
  background-color: hsla(0, 0%, 80%, 0.7);
  border: 1px solid white;
  visibility: visible;
}

/********************** layout transitions ***********************/
.app-wrapper {
  transition-property: background-color;
  transition-duration: 0.4s;
}

.main-app-container {
  position: relative;
  top: 0vh;
  transition-property: top;
  transition-delay: 0.1s;
  transition-duration: 0.8s;
}

.settings,
.app-logo {
  position: relative;
  right: 0vw;
  transition-property: right;
  transition-duration: 0.6s;
}

/************************************************************/

.collapse-container {
  height: auto;
  opacity: 1;
  transition-duration: 1s;
  overflow: hidden;
}

.collapse-container:active {
  transition-duration: 0.9s;
}

.collapse-container {
  position: relative;
}

/************************************************************/

.palette {
  margin: 8px 0px;
  padding: 16px 16px 14px 16px;
  position: relative;
}

.palettes-conv-container {
  position: relative;
  padding: 12px 16px 8px 16px;
}

.conv-container {
  display: flex;
  position: relative;
  align-items: center;
  margin: 4px;
}

.conv-container .copy-on-click {
  -webkit-user-select: none;
  border: 1px solid var(--color-gray-700);
  border-radius: 4px;
  min-width: 70px;
  margin: 6px;
  padding: 4px;
  overflow: hidden;
}

.conv-container .copy-on-click:hover {
  cursor: pointer;
  background-color: var(--color-gray-700);
}

.conv-container .copy-on-click:active {
  background-color: var(--color-gray-800);
}

.copy-on-click .tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: 42px;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  border-radius: 4px;
  padding: 4px;
  transition: 1s 0.5s;
  opacity: 0;
  z-index: 10;
}

.copy-on-click:active .tooltip-text {
  visibility: visible;
  transition: 0s 0s;
  opacity: 1;
}

.conv-container .hsl {
  width: 160px;
}

.conv-container .rgb {
  width: 144px;
}

.conv-container p {
  font-size: 15px;
  color: var(--color-app-font-light);
}

.conv-container-label {
  margin: 0 auto;
  width: 80px;
  text-align: left;
  color: var(--color-app-font-light);
}

.main-color {
  margin: 12px 0px 12px 0px;
  padding: 6px;
  display: flex;
  align-items: flex-end;
  gap: 6px;
}

.disp-color,
.main-color {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
}

.palette-color {
  width: 80px;
  height: 80px;
}

.btn {
  height: 20px;
  margin: 6px 2px;
  padding: 0px 6px;
  background-color: hsl(0, 0%, 22%);
  border: 1px solid hsl(0, 0%, 40%);
  border-radius: 4px;
  color: var(--color-app-font-light);
}

.btn:hover {
  background-color: hsl(0, 0%, 30%);
  border: 1px solid hsl(0, 0%, 50%);
  box-shadow: 1px 1px 1px rgb(12, 12, 12);
}

.btn:active {
  background-color: hsl(0, 0%, 15%);
  border: 1px solid hsl(0, 0%, 25%);
  box-shadow: none;
}

.btn-show-pal {
  width: 100px;
}

.btn-show-colorwheel {
  width: 120px;
}

.btn-hide-example {
  width: 136px;
}
